mat-card-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-header {
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

mat-form-field {
    width: 300px;
}

mat-card {
    display: flex;
    flex-flow: column;
    height: 90vh;
    margin: 1vh;
}