<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>
            Sign Up
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput name="username" ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput name="email" ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="passwordConfirm" ngModel>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
            </mat-form-field>
            <button mat-flat-button color="primary">Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>